AZURE_SUBSCRIPTION_ID="put your Subscription ID here"
AZURE_TENANT_ID="put your Tenant ID here"
AZURE_CLIENT_ID="put your Client ID here"
AZURE_CLIENT_SECRET="put your Client Secret here"
AZURE_LOCATION="eastus"

RESOURCE_GROUP="MyPackerGroup"
IMAGE_NAME="MyPackerImage"
OS_TYPE="Linux"
IMAGE_PUBLISHER="Canonical"
IMAGE_OFFER="UbuntuServer"
IMAGE_SKU="18.04-LTS"
BUILD_RESOURCE_GROUP="MyPackerGroup"
VM_SIZE="Standard_D2_v2"

PUB_KEY=${HOME}/.ssh/id_rsa.pub
PVT_KEY=${HOME}/.ssh/id_rsa
SSH_FINGERPRINT=your-ssh-fingerprint

TF_VAR_AZURE_SUBSCRIPTION_ID="Put your Subscription ID here"
TF_VAR_AZURE_TENANT_ID="put your Tenant ID here"
TF_VAR_AZURE_CLIENT_ID="put your Client ID here"
TF_VAR_AZURE_CLIENT_SECRET="put your Client Secret here"
TF_VAR_AZURE_LOCATION="eastus"
TF_VAR_IMAGE_NAME="/subscriptions/put your Subscription ID here/resourceGroups/MyPackerGroup/providers/Microsoft.Compute/images/MyPackerImage"
TF_VAR_VM_SIZE="Standard_D2_v2"
TF_VAR_HOSTNAME="hostname"
TF_VAR_USERNAME="put your username of your VMs here"
TF_VAR_PASSWORD="put your password of your VMs here"
TF_VAR_NO_VMs="3"
