AZURE_SUBSCRIPTION_ID="Put your subscription ID here"
AZURE_LOCATION="Put your Azure Location here"
AZURE_SERVICE_CONNECTION_ID="Put your Azure Service Connection here"

FLASK_RESOURCE_GROUP="production-resources"
FLASK_WEB_APP="flask-sklearn"
PIPELINE_NAME="Azure_CI-CD_MachineLearningApp-Pipeline"
PIPELINE_DESCRIPTION="Azure_CI-CD_MachineLearningApp-Pipeline"
ORGANIZATION_NAME="https://dev.azure.com/put-your-organization-name-here"
PROJECT_NAME="put your project name here"
REPO_NAME="https://github.com/your-git-username/your-git-repo"

AGENT_VM_IMAGE_NAME="ubuntu-latest"
ENVIRONMENT_NAME="flask-sklearn"
PYTHON_VERSION="3.7"
